services:
  php:
    build:
      context: .
      target: development
      args:
        USER_ID: $DCUID
        GROUP_ID: $DCGID
    container_name: "mocenok-php"
    ports:
      - 80:8080
    environment:
      APP_BASE_DIR: "/app/mocenokApp"
      NGINX_WEBROOT: "/app/mocenokApp/public"
      PHP_DATE_TIMEZONE: "Europe/Bratislava"
      SSL_MODE: "off"
    volumes:
      - .:/app
    networks:
      - mocenok-network

  node:
    image: node:22-alpine
    container_name: "mocenok-node"
    working_dir: /app/mocenokApp
    ports:
      - 5173:5173
    environment:
      - NODE_ENV=development
    volumes:
      - .:/app
    networks:
      - mocenok-network
    command: sh -c "npm install && npm run dev -- --host"

  db:
    image: postgres:17.4-alpine3.21
    container_name: "mocenok-db"
    environment:
      POSTGRES_DB: hkmocenok
      POSTGRES_USER: tom
      POSTGRES_PASSWORD: admin69
    ports:
      - 5432:5432
    networks:
      - mocenok-network

networks:
  mocenok-network:
    driver: bridge

volumes:
  postgres_data:
    driver: local
